body{
    background-color: rgb(218, 212, 212);
               
}

#about{
    padding: 5%;

}
#navbar{
    float: right;
}

.jumbotron{
    background-color: transparent;
}

#contact{
    text-align: center;
    text-decoration: aliceblue;
}