body{
    background-color: #ffffff;
               
}
#navbar{
    float: right;
}

#particles-js {
    position: relative;
    height: 100vh;
    width: 100%;
  }

#about{
    padding: 5%;
    position: absolute;
    top: 15%;
    font-weight: 700;

}
#portfolio{
    position: relative;
    top: 15%;
    background-color: black;
}
#portfolio h3{
    color: blanchedalmond;
}

.card-deck{
    height: 80vh;
}
.jumbotron{
    background-color: transparent;
}

#contact{
    text-align: center;
    text-decoration: aliceblue;
}